button {
    background-color: #38312C;
    color: #F3ECDA;
    border: none;
    outline: none;
    border-radius: 20px;
}
.nav-button {
    margin-left: 2rem;
    padding-bottom: 0.5rem;
    width: 16%;
    border-radius: 30px;
    font-family: eckmannpsych-small, sans-serif;
    font-size: 2rem;
    &:hover {
        background-color: #38312A;
    }
}
.display-toggle {
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    margin-left: 0.5rem;
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }   
}

input:checked + .slider {
  background-color: #38312C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}