@import './reset.scss';
@import './typography.scss';
@import './buttons.scss';

.landing {
	height: 100vh;
	background-color: #f3ecda;
	color: #38312c;
	> h1 {
		position: absolute;
		left: 5vw;
		top: 5vh;
		bottom: 0vh;
		width: 100%;
		max-height: 100vh;
		overflow: hidden;
		font-size: 7.7rem;
		line-height: 90%;
		color: #d8caaa;
		text-align: left;
		animation: slideInLeft 1s;
	}
	> h2 {
		position: absolute;
		left: 5vw;
		bottom: 10vh;
		font-size: 6rem;
		text-align: left;
		width: 50vw;
		animation: slideInLeft 1s;
	}
	button {
		padding: 1rem 2rem 1.5rem 2rem;
		border-radius: 30px;
		font-family: eckmannpsych-small, sans-serif;
		font-weight: 400;
		font-size: 2rem;
		line-height: 70%;
		position: absolute;
		right: 5vw;
		bottom: 8vh;
		animation: slideInRight 1s;
		&:hover {
			background-color: #64594d;
			cursor: pointer;
		}
	}
}

@keyframes slideInLeft {
	from {
		opacity: 0%;
		left: 0vw;
	}
	to {
		opacity: 100%;
		left: 5vw;
	}
}

@keyframes slideInRight {
	from {
		opacity: 0%;
		right: 0vw;
	}
	to {
		opacity: 100%;
		right: 5vw;
	}
}
