@import url('https://use.typekit.net/eal8lsd.css');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

h1,
h2,
h3,
h4 {
	font-family: eckmannpsych-small, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h2 {
    font-size: 5rem;
    text-align: left;
    line-height: 80%;
}

h3 {
    font-size: 12rem;
    text-align: left;
    line-height: 80%;
}

p {
    font-family: 'Share Tech', sans-serif;
}
